C/PythonModule/build/


# JetBrains Rider
.idea/
*.sln.iml

# CodeRush
.cr/

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc
.c9/
objects/
cuda/objects/Visualize.o
*.o
*.so

tensorboard_logs/
MUJOCO_LOG.TXT
